# Web scraping
requests
beautifulsoup4

# Semantic search
faiss-cpu
sentence-transformers

# Web app frontend
streamlit>=1.10.0

# For multilingual support (bonus)
translate
langdetect

# Data handling
pandas
datasketch